<div class="row">
	<div class="col-lg-6 col-lg-offset-2">
		<form action="" method="post">
			<div class="form-group">
				<label>Device name:</label>
				<input type="text" class="form-control" name="deviceName" />
			</div>
			<div class="form-group">
				<label>Owner name:</label>
				<input type="text" class="form-control" name="ownerName" />
			</div>

			<button type="submit" class="btn btn-primary btn-block">Register New Device</button>
		</form>
	</div>
</div>