<div class="row">
	<div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
		<h3>Devices:</h3>
		<h6>Currently showing {{ devices.length }} devices.</h6>
		<a href="add" class="btn btn-primary btn-default">New Device</a>
	</div>
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
		<table class="table">
			<tr>
				<th>
					deviceName
				</th>
				<th>
					ownerName
				</th>
				<th>
					registerDate
				</th>
			</tr>
			{{#each devices }}
			<tr>
				<td>
					{{ this.deviceName }}
				</td>
				<td>
					{{ this.owner }}
				</td>
				<td>
					{{ this.registerDate }}
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
</div>